@import models._
@import views.html.Main
@import java.time.format.DateTimeFormatter
@import java.time.ZoneId
@import play.twirl.api.HtmlFormat

@this(
        main: Main,
        govukSummaryList: GovukSummaryList
)

@(
        totalFuelStations: Int,
        totalFuelPrices: Int,
        fuelPricesForStations: Seq[FuelPriceForStation]
)(implicit authenticatedRequest: AuthenticatedRequest[?], messages: Messages)

@dateFormatter = @{
    DateTimeFormatter
    .ofPattern("d MMM yyyy, HH:mm")
    .withZone(ZoneId.of("Europe/London"))
}

@main(extraHeaders = Seq(Html("""<script src="/assets/javascripts/geoloc.js" defer></script>"""))) {

    <p class="govuk-body-l">
    @messages("homepage.intro")
    </p>

    <p class="govuk-body">
        <a class="govuk-link" href="@routes.SearchByPostcodeController.showPostcodeForm()">
        @messages("homepage.findPricesByPostcode")
        </a>
    </p>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

    <h2 class="govuk-heading-l">
    @messages("homepage.overview")
    </h2>

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-half">
            <span class="govuk-caption-m">@messages("homepage.fuelStations")</span>
            <p class="govuk-heading-xl govuk-!-margin-bottom-0">@totalFuelStations</p>
        </div>

        <div class="govuk-grid-column-one-half">
            <span class="govuk-caption-m">@messages("homepage.fuelPrices")</span>
            <p class="govuk-heading-xl govuk-!-margin-bottom-0">@totalFuelPrices</p>
        </div>

    </div>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

    <h2 class="govuk-heading-l">
    @messages("homepage.recentlyUpdatedPrices")
    </h2>
    <p class="govuk-body-m">

        <a href="#"
        class="govuk-link"
        id="use-my-location"
        hidden>
        @messages("homepage.useMyLocation")
        </a>
    </p>

    @if(fuelPricesForStations.isEmpty) {

        <p class="govuk-body">
        @messages("homepage.noFuelPrices")
        </p>

    } else {

        @for(station <- fuelPricesForStations) {

            @govukSummaryList(
                SummaryList(
                    card = Some(
                        Card(
                            title = Some(
                                CardTitle(
                                    content = Text(station.tradingName)
                                )
                            ),
                            actions = Some(
                                Actions(
                                    items = Seq(
                                        ActionItem(
                                            href = controllers.routes.HomeController.fuelStationDetails(station.nodeId).url,
                                            content = Text(messages("homepage.viewDetails")),
                                            visuallyHiddenText = Some(station.tradingName)
                                        )
                                    )
                                )
                            )
                        )
                    ),
                    rows =
                        Seq(
                            SummaryListRow(
                                key = Key(
                                    content = Text(messages("homepage.address"))
                                ),
                                value = Value(
                                    content = HtmlContent(
                                        station.address.map(HtmlFormat.escape).mkString("<br>")
                                    )
                                )
                            )
                        ) ++ station.fuelPrices.map { price =>
                            SummaryListRow(
                                key = Key(
                                    content = Text(price.fuelType.toString)
                                ),
                                value = Value(
                                    content = HtmlContent(
                                        s"""
                                <strong>${f"${price.price}%.1fp"}</strong>
                                <br>
                                ${dateFormatter.format(price.priceLastUpdated)}
                                """
                                    )
                                )
                            )
                        }
                )
            )
        }

    }

}